.skills {
    background-color: black;
    padding: 0 20% 20px 20%;
    padding-top: 20px;
    padding-bottom: 30px;
}
.skills__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.skills__item li {
    padding: 15px 30px 10px 0px;
}

.skills__item li:last-child {
    padding-bottom: 40px;
}
