.nav {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--main-color);
}

.nav__item {
    padding: 10px 10px;
    margin: 10px;
    border: 3px solid;
    border-radius: 10px;
    border-color: var(--secondary-color);
}

.nav__item:hover {
    border-color: var(--background-color);
}

a {
    font-size: 1em;
    color: burlywood;
    font-weight: bold;
    font-style: italic;
    text-decoration: none; 
}

a:hover {
    color: var(--background-color);
}