html {
    margin: 2em;
    font-size: 140%;
    font-family: avenir;
    line-height: 1.5;
    background-color: plum;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    gap: 1rem;
    border: 4px solid rebeccapurple;
    margin: 4em 0;
    padding: 0.25em 1em;
  }
  .navbar li {
    display: block; 
  }
  .navbar a {
    text-decoration: none;
    color: black;
  }
  .navbar a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 64);
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
  }





